*{
    box-sizing: border-box;
}

.container {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: left;
}
.title{
    text-align: left;
    margin-bottom: 4px;
}

.text {
    font-family: 'Press Start 2P';
    margin: 0;
    margin-bottom: 20px;
}
.text-1 {
    font-family: 'Courier New', Courier, monospace;
} 
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
    :focus{
        border-color: #0366d6;
        outline: none;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
}
.m-p {
    margin: 0;
    padding: 0;
}

.block {
    display: block;
}

.line-normal {
    line-height: normal;
}

.checkbox-window {
    height: 74px;
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
}

.checkbox-container {
    width: 28px;
    height: 28px;
}

.checkbox {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    border: 2px solid #c1c1c1;
    margin: 21px 0 0 12px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: width 500ms, height 500ms, border-radius 500ms, margin-top 500ms, margin-left 500ms, opacity 700ms;
}

.checkbox:hover {
    border: 2px solid #b2b2b2;
}

.im-not-a-robot {
    position: relative;
    left: 52px;
    bottom: 2px;
    font-size: 15px;
    color: #282727;
}

.captcha-logo {
    position: relative;
    left: 225px;
    bottom: 40px;
    width: 66px;
    height: 66px;
    vertical-align: baseline;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

}

.checkbox-desc {
    color: #555555;
    position: relative;
    font-size: 10px;
    text-align: left;
    bottom: 41px;
    left: 112px;
}

.res {
    font-family: Arial, Helvetica, sans-serif;
  color: #cc0033;
  position: relative;
  bottom: 65px;
  left: 10px;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;

}

.spinner {
    visibility: hidden;
    position: relative;
    height: 35px;
    width: 35px;
    bottom: 20px;
    left: 8px;
    opacity: 0;
    transition: opacity 400ms;
}

.verifywin-window {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    margin: auto;
    width: 310px;
    background-color: #fff;
    border: 1px solid #cecece;
    -webkit-box-shadow: 5px 6px 7px -3px rgba(0, 0, 0, 0.12);
    box-shadow: 5px 6px 7px -3px rgba(0, 0, 0, 0.12);
    transition: opacity 400ms;
}

.verifywin-window-arrow {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: opacity 200ms;
    width: 10px;
    height: 23px;
}

.verifywin-container {
    padding: 8px;
}

.verifywin-header {
    background-color: #5a89e1;
    padding: 16px 16px 24px 16px;
    color: #fff;
}

.verifywin-header-text-small {
    font-size: 14px;
    line-height: normal;
}

.question-header {
    font-size: 16px;
}

.question-bold{
    font-size: 24px;
    font-weight: 800;
}

.verifywin-main {
    padding: 5px;
}

.verifywin-footer {
    border-top: 1px solid #cecece;
    padding: 10px 7px 10px 7px;
    color: #737373;
    display: grid;
    grid-template-columns: auto 102px;
    font-size: 13px;
}

.verifywin-footer-left {
    padding: 5px;
}

.verifywin-verify-button {
    text-transform: uppercase;
    background-color: #5a89e2;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 12px 0 12px 0;
    text-decoration: none;
    font-weight: 600;
    height: min-content;
    border-radius: 3px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
}

